<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>OK-RAS</title>
<script type="text/javascript" language="javascript" src="jquery.js"></script>
<SCRIPT src="ddsmoothmenu.js" type=text/javascript></SCRIPT>
<SCRIPT src="pts_public.js" type=text/javascript></SCRIPT>
<script type="text/javascript" language="javascript" src="jquery.jeditable.js"></script>
<script type="text/javascript" language="javascript" src="jquery.dataTables.min.js"></script>
<link rel="shortcut icon" href="favicon.ico">
<link rel="stylesheet" type="text/css" href="jquery.dataTables.min.css">
<LINK href="ddsmoothmenu.css" type=text/css rel=stylesheet>
<LINK href="pts_public.css" type=text/css rel=stylesheet>
<style>
  *{font-family: "微软雅黑"}
</style>
<script type="text/javascript" language="javascript" class="init">

$(document).ready(function() {
  var oTable = $('#example').DataTable({
      "info" : true, 
      "stateSave": true,
      "serverSide": true,
      "aaSorting": [[1, "desc"]],
      "sDom": '<"top"f<"refush">>rt<"bottom"lp>',
      "sAjaxSource": "/ptc_list.html",
      <% dataTablesLang(); %>
          "aoColumnDefs": [{"className": "ptc_ardio",  "orderable": false, "aTargets": [0]}, {"className": "ptc_sn", "aTargets": [8]}, {"className": "ptc_nice", "aTargets": [3]}, {"className": "ptc_internet_ip", "aTargets": [5]}],

       "fnDrawCallback":function(){ $('#example tbody td.ptc_nice').editable('editable_ajax.html', {
          "callback": function(sValue, y) {
            // var aPos = oTable.fnGetPosition(this);
            var aPos = oTable.fnGetPosition(this);
            oTable.fnUpdate( sValue, aPos[0], aPos[1]);
          },
          "submitdata": function ( value, settings ) {
            return {
              "row_id": $(this).parent().children("td.ptc_sn").html(),
              "column": $(this).find("input").val()
            };
          }
      })}
    });
    
    $('.refush').html("<p id='RefushButton'> <input type='button' value ='<% htmlLang(78); %>'></p>");

    $('#example tbody').on('click', 'td', function () {
      if ($(this).find("input").val())
      {
        return true;
      }
      var _checked_ = $(this).parent().children("td.ptc_ardio").children("input").prop('checked'); 
      if (_checked_) 
      { 
        $(this).parent().children("td.ptc_ardio").children("input").prop('checked', false);
        set_ping_dest("");
      } 
      else 
      { 
        $(this).parent().children("td.ptc_ardio").children("input").prop('checked', true);
        set_ping_dest($(this).parent().children("td.ptc_sn").html());
      }
      });

     $('.refush').click(function(){
        location.reload();
        return true;    
      });
});

get_lang_type(<% lang_type(); %>);
updateTime();
</script>
</head>

<body style="margin:0; padding:0; background:#fafafa;" >

<div class="nav_content">
  <div class="ddsmoothmenu nav_left" id="smoothmenu1">
  <UL>
    <LI class="logo_li">
      <a href="http://www.dipcc.com" target="_blank">
        <img src="images/logo.png" title="深圳市天天讯通科技有限公司"  />
      </a>
    </LI>
  </UL>
  <UL>
    <LI><A href="index.html"><% htmlLang(0); %></A></LI>
    <LI><A href="#"><% htmlLang(1); %></A> 
    <UL>
      <LI><A href="pts_switch.html"><% htmlLang(2); %></A> </LI>
      <LI><A href="pts_config.html"><% htmlLang(3); %></A> </LI>
      <LI><A href="pts_upgrades.html"><% htmlLang(4); %></A> </LI>
    </UL>
    </LI>
    <LI><A href="pts_user.html"><% htmlLang(5); %></A></LI>
    <LI><A href="#"><% htmlLang(6); %></A>
      <UL>
        <LI><A href="pts_ping.html"><% htmlLang(7); %></A></LI>
      </UL>
    </LI>
  </UL>
  </div>
  <div class="nav_right" > 
    <table style="height:48px; border-spacing: 0px; border-collapse:collapse;">
      <tr>
        <td style="width:180px;"><p class="longin_user"> <% curr_user(); %></p></td>
        <td rowspan="2"><div class="longout"><a href="javascript:;" onclick="exit()"><img  src="../images/logout.png" /></a></div></td>
      </tr>
      <tr>
        <td style="width:180px; padding: 0px;" ><p id="system-time" style="font:11px tahoma;height:10px;width:160px;color: #F4F4F4;"></p></td>
      </tr>
    </table>
  </div>
</div>
<br>
<div class="content_body">
  <div>
    <div class="content_title">
      <p><b><% htmlLang(73); %></b></p>
    </div>
    <div>
      <p class="content_body">
        <!-- <form action="/goform/EiaPingGoStart" method="post" name="PingGoStart" id="PingGoStart" onSubmit="return form_check();"  target="hidden_frame"> -->
          <input type="hidden" value="" id="PingDest" name="PingDest"  />
          <label><% htmlLang(74); %></label>
          <input type="text" id="PingNum" maxlength="3" name="PingNum" size="18" value="4" required />&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="hidden" id="PingPacketSize" maxlength="4" name="PingPacketSize" size="18" value="56" required />&nbsp;&nbsp;
          <input type="button" value="<% htmlLang(75); %>" onclick="StartPing();"/>&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="button" value="<% htmlLang(76); %>" onclick="StopPing();" />
        <!-- </form> -->
      </p>
    </div>
    <br>
    <div>
      <div class="content_title">
        <p><b><% htmlLang(77); %></b></p>
      </div>
      <div>
        <p class="content_body">
            <textarea name="InfoPing" id="InfoPing" readonly="readonly" cols="60" rows="10"></textarea>
            <!-- <iframe name='hidden_frame' id="hidden_frame" style='display:block' src="ping_msg.html"></iframe> -->
        </p>
    </div>
    </div>
  </div>
</div>
<div class="content_body">
  <table id="example" class="display" cellspacing="0" style="text-align:center">
    <thead>
      <tr>
        <th width="20px"> </th>        
            <th><% htmlLang(15); %></th>
            <th><% htmlLang(16); %></th>
            <th><% htmlLang(17); %></th>
            <th><% htmlLang(18); %></th>
            <th><% htmlLang(19); %></th>
            <th><% htmlLang(20); %></th>
            <th><% htmlLang(21); %></th>
            <th><% htmlLang(22); %></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
</body>
</html>


