<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>OK-RAS</title>
<script type="text/javascript" language="javascript" src="jquery.js"></script>
<SCRIPT src="ddsmoothmenu.js" type=text/javascript></SCRIPT>
<SCRIPT src="pts_public.js" type=text/javascript></SCRIPT>
<script type="text/javascript" language="javascript" src="jquery.jeditable.js"></script>
<script type="text/javascript" language="javascript" src="jquery.dataTables.min.js"></script>
<link rel="shortcut icon" href="favicon.ico">
<link rel="stylesheet" type="text/css" href="jquery.dataTables.min.css">
<LINK href="ddsmoothmenu.css" type=text/css rel=stylesheet>
<LINK href="pts_public.css" type=text/css rel=stylesheet>
<style>
	*{font-family: "微软雅黑"}
</style>
<script type="text/javascript" language="javascript" class="init">

$(document).ready(function() {
	var oTable = $('#dataTable').DataTable({
			"aaSorting": [[1, "desc"]],
			"bProcessing" : true,
			"stateSave": true,
			"serverSide": true,
			"sDom": '<"top"f<"refush">>rt<"bottom"lp>',
			"sAjaxSource": "/pts_user_list.html",
		     "aoColumnDefs": [{"className": "checkBox", "orderable": false, "aTargets": [0]}, {"className": "user_name",  "bSort": false, "aTargets": [1]}, {"className": "edit_pts_name", "aTargets": [2]}, {"className": "edit_fixedTel", "aTargets": [3]}, {"className": "edit_mobile", "aTargets": [4]}, {"className": "edit_mailbox", "aTargets": [5]}],

			 "fnDrawCallback":function(){ $('#dataTable tbody td.edit_pts_name, #dataTable tbody td.edit_fixedTel, #dataTable tbody td.edit_mobile, #dataTable tbody td.edit_mailbox').editable('change_info.html', {
					"callback": function(sValue, y) {
						var aPos = oTable.fnGetPosition(this);
						oTable.fnUpdate( sValue, aPos[0], aPos[1]);
					},
					"submitdata": function (value, settings) {
						return {
							"row_id": $(this).parent().children("td.user_name").html(),
							"column": $(this).parents("tr").find("td").index($(this))
						};
					}
			})},
			 
			<% dataTablesLang(); %>
		});
		
		$('.refush').html("<p id='RefushButton'> <input type='button' value ='<% htmlLang(78); %>'></p>");

		$('#dataTable tbody').on( 'click', 'td', function () {
			if ($(this).find("input").val())
			{
				return true;
			}
			var _checked_ = $(this).parent().children("td.checkBox").children("input").prop('checked'); 
			if (_checked_) 
			{
				$(this).parent().children("td.checkBox").children("input").prop('checked', false); 
			} 
			else 
			{ 
				$(this).parent().children("td.checkBox").children("input").prop('checked', true); 
			}
    	});

    	$('.refush').click(function(){
            location.reload();
            return true;    
        });
});

get_lang_type(<% lang_type(); %>);
updateTime();
</script>
</head>

<body style="margin:0; padding:0; background:#fafafa;">

<div class="nav_content">
	<div class="ddsmoothmenu nav_left" id="smoothmenu1">
	<UL>
		<LI class="logo_li">
			<a href="http://www.dipcc.com" target="_blank">
				<img src="images/logo.png" title="深圳市天天讯通科技有限公司"  width="120px" height="44px" />
			</a>
		</LI>
	</UL>
	<UL>
	  <LI><A href="index.html"><% htmlLang(0); %></A></LI>
	  <LI><A href="#"><% htmlLang(1); %></A> 
		<UL>
			<LI><A href="pts_switch.html"><% htmlLang(2); %></A> </LI>
			<LI><A href="pts_config.html"><% htmlLang(3); %></A> </LI>
			<LI><A href="pts_upgrades.html"><% htmlLang(4); %></A> </LI>
		</UL>
	  </LI>
	  <LI><A href="pts_user.html"><% htmlLang(5); %></A></LI>
	  <LI><A href="#"><% htmlLang(6); %></A>
	  	<UL>
	  		<LI><A href="pts_ping.html"><% htmlLang(7); %></A></LI>
	  	</UL>
	  </LI>
	  <LI><A href="pts_license.html"><% htmlLang(79); %></A></LI>
	</UL>
	</div>
	<div class="nav_right" > 
		<table style="height:48px; border-spacing: 0px; border-collapse:collapse;">
			<tr>
				<td style="width:180px;"><p class="longin_user"> <% curr_user(); %></p></td>
				<td rowspan="2"><div class="longout"><a href="javascript:;" onclick="exit()"><img  src="../images/logout.png" /></a></div></td>
			</tr>
			<tr>
				<td style="width:180px; padding: 0px;" ><p id="system-time" style="font:11px tahoma;height:10px;width:160px;color: #F4F4F4;"></p></td>
			</tr>
		</table>
	</div>
</div>
<br>
<div class="content_body">
	<div>
		<div class="content_title">
			<p><b><% htmlLang(42); %></b></p>
		</div>
		<div>
			<p class="content_body">
				<% createUser(); %>
			</p>
		</div>
	</div>
</div>
<div class="content_body">
	<table id="dataTable" class="display" cellspacing="0" style="text-align:center" width="100%">
		<thead>
			<tr>
				<th width="20px"><input type="checkbox" id="select_all" onclick="select_all()" /></th>        
		        <th><% htmlLang(43); %></th>
		        <th><% htmlLang(44); %></th>
		        <th><% htmlLang(45); %></th>
		        <th><% htmlLang(46); %></th>
		        <th><% htmlLang(47); %></th>
		        <th><% htmlLang(48); %></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
</body>
</html>


