<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>AMC</title>
<script type="text/javascript" language="javascript" src="jquery.js"></script>
<SCRIPT src="ddsmoothmenu.js" type=text/javascript></SCRIPT>
<SCRIPT src="pts_public.js" type=text/javascript></SCRIPT>
<script type="text/javascript" language="javascript" src="jquery.jeditable.js"></script>
<script type="text/javascript" language="javascript" src="jquery.dataTables.min.js"></script>
<link rel="shortcut icon" href="../images/favicon.png">
<link rel="stylesheet" type="text/css" href="jquery.dataTables.min.css">
<LINK href="ddsmoothmenu.css" type=text/css rel=stylesheet>
<style>
	*{font-family: "微软雅黑"}
	.content_body{margin: auto 25px; font-size: 13px;}
	.content_title{border-bottom:1px solid #000000; padding-bottom:2px; margin-bottom: 10px;}
	.content_title p{padding-bottom:0; margin-bottom: 0px;}
	.nav_content{margin:0; width:100%; height:50px; background-color:#747474; font-size: 14px; }
	.nav_left{float:left;}
	.nav_right{float:right; margin-right:15px; margin-top: 0px; width: 200px; height:50px; over-flow:auto;}
	.nav_right p{line-height: 14px; margin: 0px; padding: 0px;}
	.nav_right td{ margin: 0px; padding: 0px; border: 0px;}
	.longin_user{margin-right:100px;color: #F4F4F4;}
	.longout{float:right; margin-right:0px; border: 0px;}
	.longout img{border: 0px;}
</style>
<script type="text/javascript" language="javascript" class="init">

$(document).ready(function() {
	var oTable = $('#example').DataTable({
			"info" : true, 
			"aaSorting": [[1, "asc"]],
			"sDom": '<"top"f>rt<"bottom"lp>',
			"sAjaxSource": "/pts_user_list.html",
			"oLanguage": {
				"sLengthMenu": "每页显示 _MENU_条",
				"sZeroRecords": "没有找到符合条件的数据",
				"sProcessing": "&lt;p&gt;&lt;img src=’./loading.gif’ /&gt;加载中......&lt;/p&gt;",
				"sInfo": "当前第 _START_ - _END_ 条　共计 _TOTAL_ 条",
				"sInfoEmpty": "木有记录",
				"sInfoFiltered": "(从 _MAX_ 条记录中过滤)",
				"sSearch": "搜索：",
				"oPaginate": {
					"sFirst": "首页",
					"sPrevious": "前一页",
					"sNext": "后一页",
					"sLast": "尾页"
			        }
		      },
		      "aoColumnDefs": [{"className": "checkBox", "orderable": false, "aTargets": [0]}, {"className": "user_name",  "bSort": false, "aTargets": [1]}, {"className": "edit_pts_name", "aTargets": [2]}, {"className": "edit_fixedTel", "aTargets": [3]}, {"className": "edit_mobile", "aTargets": [4]}, {"className": "edit_mailbox", "aTargets": [5]}],

			 "fnDrawCallback":function(){ $('#example tbody td.edit_pts_name, #example tbody td.edit_fixedTel, #example tbody td.edit_mobile, #example tbody td.edit_mailbox').editable('change_info.html', {
					"callback": function(sValue, y) {
						// var aPos = oTable.fnGetPosition(this);
						var aPos = oTable.fnGetPosition(this);
						oTable.fnUpdate( sValue, aPos[0], aPos[1]);
					},
					"submitdata": function (value, settings) {
						return {
							"row_id": $(this).parent().children("td.user_name").html(),
							"column": $(this).parents("tr").find("td").index($(this))
						};
					}
			})}
		});

		$('#example tbody').on( 'click', 'td', function () {
			if ($(this).find("input").val())
			{
				return true;
			}
			var _checked_ = $(this).parent().children("td.checkBox").children("input").prop('checked'); 
			if (_checked_) 
			{
				$(this).parent().children("td.checkBox").children("input").prop('checked', false); 
			} 
			else 
			{ 
				$(this).parent().children("td.checkBox").children("input").prop('checked', true); 
			}
    	});
});

//setInterval("timeStr=new Date().toLocaleString();timer.innerText=timeStr;", 1000);

function formatSysTime_utf8() {
    var week_desc = new Array("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六");
    var dt = new Date();
    var year = dt.getFullYear();
    var month = dt.getMonth() + 1;
    var date = dt.getDate();
    var day = dt.getDay();
    var hours = dt.getHours();
    var minutes = dt.getMinutes();
    var seconds = dt.getSeconds();
    return checkTime(year) + '-' + checkTime(month) + '-' + checkTime(date) + ' ' + week_desc[day] + ' ' +
            checkTime(hours) + ':' + checkTime(minutes) + ':' + checkTime(seconds);
}

function updateTime_utf8() {
    if ($('#system-time').length > 0) {
        var fmt_time = formatSysTime_utf8();
        $('#system-time').html(fmt_time);
    }

    setTimeout('updateTime_utf8()', 1000);
}

updateTime_utf8();

</script>
</head>

<body style="margin:0; padding:0; background:#fafafa;">

<div class="nav_content">
	<div class="ddsmoothmenu nav_left" id="smoothmenu1">
	<UL>
	  <LI><A href="index.html">远程访问</A></LI>
	  <LI><A href="#">PTC管理</A> 
		<UL>
			<LI><A href="pts_switch.html">PTS切换</A> </LI>
			<LI><A href="pts_config.html">PTC配置</A> </LI>
			<LI><A href="pts_upgrades.html">PTC升级</A> </LI>
		</UL>
	  </LI>
	  <LI><A href="pts_user.html">用户管理</A></LI>
	  <LI><A href="#">工具</A>
      <UL>
        <LI><A href="pts_ping.html">Ping测试</A></LI>
      </UL>
    </LI>
	</UL>
	</div>
	<div class="nav_right" > 
		<table style="height:48px; border-spacing: 0px; border-collapse:collapse;">
			<tr>
				<td style="width:180px;"><p class="longin_user"> <% curr_user(); %> 您好！</p></td>
				<td rowspan="2"><div class="longout"><a href="javascript:;" onclick="exit()"><img  src="../images/logout.png" /></a></div></td>
			</tr>
			<tr>
				<td style="width:180px; padding: 0px;" ><p id="system-time" style="font:11px tahoma;height:10px;width:160px;color: #F4F4F4;"></p></td>
			</tr>
		</table>
	</div>
</div>
<br>
<div class="content_body">
	<div>
		<div class="content_title">
			<p><b>用户管理：</b></p>
		</div>
		<div>
			<p class="content_body">
				<% createUser(); %>
			</p>
		</div>
	</div>
</div>
<div class="content_body">
	<table id="example" class="display" cellspacing="0" style="text-align:center">
		<thead>
			<tr>
				<th width="20px"><input type="checkbox" id="select_all" onclick="select_all()" /></th>        
		        <th>用户</th>
		        <th>姓名(点击修改)</th>
		        <th>固话(点击修改)</th>
		        <th>手机(点击修改)</th>
		        <th>邮箱(点击修改)</th>
		        <th>注册日期</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
</body>
</html>


